/*******************************************************************************
                                    reset
********************************************************************************/
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,table,th,td,form,legend,input,textarea,button,select {margin:0;padding:0;}
html,body {min-width:360px;height:100%;color:#333;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:'NanumSquare';font-size:20px;font-weight:400;}
article,aside,figcaption,figure,footer,header,menu,nav,section {display:block;margin:0;padding:0;}
fieldset,img {margin:0;padding:0;border:0;vertical-align:middle;}
ol,ul {list-style-type:none;}
address,cite,em,i {font-style:normal;}
a {text-decoration:none;color:inherit;}

/*******************************************************************************
                                     font
********************************************************************************/
@font-face{
    font-family:'NanumSquare';
    font-weight:300;
    src: url(../font/NanumSquareL.eot);
    src: url(../font/NanumSquareL.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumSquareL.woff) format('woff'),
         url(../font/NanumSquareL.ttf) format('truetype');
}
@font-face{
    font-family:'NanumSquare';
    font-weight:400;
    src: url(../font/NanumSquareR.eot);
    src: url(../font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumSquareR.woff) format('woff'),
         url(../font/NanumSquareR.ttf) format('truetype');
}
@font-face{
    font-family:'NanumSquare';
    font-weight:600;
    src: url(../font/NanumSquareB.eot);
    src: url(../font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumSquareB.woff) format('woff'),
         url(../font/NanumSquareB.ttf) format('truetype');
}
@font-face{
    font-family:'NanumSquare';
    font-weight:800;
    src: url(../font/NanumSquareEB.eot);
    src: url(../font/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
         url(../font/NanumSquareEB.woff) format('woff'),
         url(../font/NanumSquareEB.ttf) format('truetype');
}
