header {padding:2.4rem 0 1.7rem;text-align:center;}
header img {width:7%;max-width:6.05rem;}
.nm-form-wrap {position:relative;width: 24%;max-width: 29.8rem;height: 27rem;margin:0 auto 2rem;padding:5rem 5.05rem;background:url(../img/bg-form.png) no-repeat top center;background-size:100%;}
.nm-form-wrap ul li + li {margin-top:1rem;}
.nm-form-wrap label {display:block;width:100%;}
.nm-form-wrap input[type="text"] {display:block;width:100%;margin-top:0.5rem;padding:0.7rem 1rem;border:0;border-radius:0.5rem;box-sizing:border-box;font-size:1rem;}
.nm-form-wrap ul li:first-child:after {display:block;clear:both;content:'';}
.nm-form-wrap ul li:first-child label {width:100%;}
.nm-form-wrap input#idNm {float:left;width:calc(100% - 5.6rem);}
.nm-form-wrap .nm-id-check {float:right;width:5.1rem;margin-top: 0.5rem;margin-left:0.5rem;padding:0.7rem 1rem 0.75rem;border:1px solid #32ce6d;border-radius:0.5rem;box-sizing:border-box;background-color:transparent;font-size:0.75rem;color:#32ce6d;cursor: pointer;transition:all 0.3s;}
.nm-form-wrap .nm-id-check:hover {background-color: rgba(50, 206, 109, 0.4);transition:all 0.3s;color:#fff;}
.nm-form-wrap ul li.nm-col2 {display:flex;justify-content: space-between;}
.nm-form-wrap ul li.nm-col2 .nm-col {width:49%;}
.nm-radio {display:flex;justify-content: space-around;align-content: center;margin-top:0.5rem;padding:0.7rem 0;}
.nm-radio input[type="radio"] {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.nm-radio input[type="radio"] + label {position:relative;display:inline-block;width:25%;padding-left:1.75rem;vertical-align: middle;}
.nm-radio input[type="radio"] + label:before {position:absolute;top:0;left:0;display:block;width:1.25rem;height:1.25rem;background: url(../img/bg-radio-off.png);content:'';}
.nm-radio input[type="radio"]:checked + label:before {background: url(../img/bg-radio-on.png);}
.nm-form-wrap select {width:100%;margin-top:0.5rem;padding:0.7rem 1rem;border:0;border-radius:0.5rem;box-sizing:border-box;font-size:1rem;}
p#errMsg {margin-top:1.5rem;}
.nm-btn-wrap {position: absolute;bottom:0;left:0;width:100%;padding: 2.5rem 0;text-align:center;}
.nm-btn-wrap button {display:inline-block;padding:0.7rem 1rem;border:0;background:transparent;font-size:1rem;color:#fff;cursor: pointer;}
.nm-btn-wrap button:hover,
.nm-btn-wrap button:active {font-weight:600;text-decoration: underline;}
.nm-btn-wrap button + button {margin-left: 3.5rem;}