body.nm-list {background-color:#f5f7cb;}
.nm-list-wrap header {width:100%;padding:1rem 0;background:#e5ea7c;}
.nm-list-wrap header figure {width: 63%;max-width:60rem;margin:0 auto;}
.nm-list-wrap header figure img {width:7%;max-width:5.05rem;}
.nm-list-container {position:relative;width: 63%;max-width:60rem;margin:0 auto;padding:2.5rem 0 0;}
.nm-list-container .nm-search {text-align: center;}
.nm-list-container .nm-search span {display:flex;justify-content: center;align-items: center;}
.nm-list-container .nm-search label {margin-right:0.5rem;}
.nm-list-container .nm-search input {width:25%;margin-right:0.5rem;padding:0.25rem 0.5rem;border:0;border-radius:0.25rem;font-size:1rem;}
.nm-list-container .nm-search input::placeholder {font-size:0.75rem;line-height: 1rem;}
.nm-list-container .nm-search button {padding:0.2rem 0.5rem;border:1px solid #32ce6d;border-radius:0.25rem;background:transparent;font-size:0.75rem;color:#32ce6d;transition:all 0.3s;cursor: pointer;}
.nm-list-container .nm-search button:hover {background-color: rgba(50, 206, 109, 0.4);color:#fff;transition:all 0.3s;}

/**********************************************************
                        table style
***********************************************************/
.nm-list-container .nm-food-search-result,
.nm-list-container .nm-food-daily-result {margin-top:2rem;}
.nm-list-container .dataTables_wrapper {margin-top:1rem;}
.nm-list-container .nm-food-search-result .dataTables_filter {margin-bottom:1rem;}
.nm-list-container .nm-food-search-result .dataTables_filter label {display:flex;justify-content: flex-end;align-items: center;}
.nm-list-container .nm-food-search-result .dataTables_filter label input {padding:0.25rem 0.5rem;border:0;border-radius:0.25rem;font-size:1rem;}
.nm-list-container table.dataTable tbody tr {background-color:transparent;}
.nm-list-container table.dataTable.hover tbody tr:hover,
.nm-list-container table.dataTable.display tbody tr:hover {background-color:#e5ea7c;}
.nm-list-container .nm-list-save {margin-top:1rem;text-align:center;}
.nm-list-container .nm-list-save button {width:6rem;padding:0.5rem 0 0.55rem;border:1px solid #32ce6d;border-radius:0.5rem;box-sizing:border-box;background-color:#32ce6d;font-size:0.75rem;color:#fff;cursor: pointer;transition:all 0.3s;}

/**********************************************************
                        data style
***********************************************************/
.nm-list-container .nm-user-info {margin-top:2rem;text-align:center;}
.nm-list-container .nm-user-info > span {color:#32ce6d;}
.nm-list-container ul.nm-data-detail {display:flex;flex-wrap:wrap;justify-content: space-between;align-items: center;margin-top:1rem;}
.nm-list-container ul.nm-data-detail li {width:50%;}
.nm-list-container ul.nm-data-detail li [class^="nm-data"] {text-align:center;}
